@CHARSET "EUC-KR";

/* 공통 */
.body input {
	font-size: 14px;
	display: block;
	width: 90%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #f44336;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}

.logout {
	float: right;
}

/* 홈 */
#title {
	text-align: center;
	color: black;
	background-color: #e7e7e7;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}

#back {
	color: black;
}

.loginType {
	padding: 10px 0px 35px 0px;
}

.loginType div {
	float: left;
	width: 49%;
	text-align: center;
	border: 1px solid #f44336;
	cursor: pointer;
}

.userNormal {
	background-color: #f0f0f0;
	padding: 10px 0px 40px 0px;
}

.userNormal div {
	padding-left: 10px;
}

.userBusiness {
	background-color: #f0f0f0;
	padding: 10px 0px 40px 0px;
}

.userBusiness div {
	padding-left: 10px;
}

.login {
	padding-top: 20px;
}

.login button {
	width: 100%;
	background-color: white;
	border: none;
	color: #f44336;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: 2px solid #f44336;
}

.bottonBtn {
	padding-top: 20px;
}

.bottonBtn div {
	float: left;
	width: 50%;
}

.bottonBtn div button {
	width: 100%;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

.bottonBtn div #findPw {
	background-color: #555555;
}

.bottonBtn div #goRegist {
	background-color: #f44336;
}

.bottonBtn div #goRegist2 {
	background-color: #f44336;
}

.bottonBtn p {
	font-size: 12px;
	padding-top: 60px;
}

#magnify {
	width: 20px;
	height: 20px;
	float: right;
}

#menu {
	width: 24px;
	height: 24px;
	float: right;
}

.container {
	background-color: #c0c0c0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}

div.s_left {
	width: 200px;
	height: 200px;
	background: #c0c0c0;
	float: left;
	margin: 5px;
}

div.s_right1 {
	width: 200px;
	height: 100px;
	background: #c0c0c0;
	float: right;
	margin: 5px;
}

div.s_right2 {
	width: 200px;
	height: 100px;
	background: #c0c0c0;
	float: right;
	margin: 5px;
}

div.s_center1 {
	width: 400px;
	height: 100px;
	background: #c0c0c0;
	float: left;
	margin: 5px;
}

div.s_center2 {
	width: 400px;
	height: 100px;
	background: #c0c0c0;
	float: left;
	margin: 5px;
}

div.s_center3 {
	width: 332px;
	height: 130px;
	background: #c0c0c0;
	float: left;
	margin: 5px;
}

div.s_bottom1 {
	width: 200px;
	height: 60px;
	background: #c0c0c0;
	float: left;
	margin: 5px;
}

div.s_bottom2 {
	width: 200px;
	height: 60px;
	background: #c0c0c0;
	float: right;
	margin: 5px;
}

/* 마이페이지 */
#menuCategory {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}

#menuCategory .menu {
	background-color: #c0c0c0;
	float: left;
	width: 18%;
	height: 40px;
	margin: 2px;
}

.contents {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}

.conLeft {
	background-color: #f0f0f0;
	float: left;
	width: 46%;
	height: 100px;
	margin: 5px;
}

.conRight {
	background-color: #f0f0f0;
	float: right;
	width: 46%;
	height: 100px;
	margin: 5px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: right;
	font-size: 12px;
}

/* 회원가입페이지 */
.registForm {
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
}

.nickName {
	float: left;
	width: 100%;
}

.businessName {
	float: left;
	width: 100%;
}

.pw {
	float: left;
	width: 40%;
}

.gender {
	float: left;
	width: 40%;
}

.bornYear {
	float: left;
	width: 40%;
}

#ruleCheck {
	float: left;
	padding-bottom: 10px;
}

#ruleCheck li {
	list-style-type: none;
}